
h1:focus-visible,
h2:focus-visible,
h3:focus-visible,
h4:focus-visible {
    outline: none;
}

@for $i from 0 through 100 {
    .left-#{$i} {
        left: calc($i * 1%);
    }

    .right-#{$i} {
        right: calc($i * 1%);
    }

    .top-#{$i} {
        top: calc($i * 1%);
    }

    .bottom-#{$i} {
        bottom: calc($i * 1%);
    }

    .left-#{$i}-vw {
        left: calc($i * 1vw);
    }

    .right-#{$i}-vw {
        right: calc($i * 1vw);
    }

    .top-#{$i}-vh {
        top: calc($i * 1vh);
    }

    .bottom-#{$i}-vh {
        bottom: calc($i * 1vh);
    }

    .w-#{$i} {
        min-width: calc($i * 1%);
    }

    .h-#{$i} {
        min-height: calc($i * 1%);
    }
}

@for $i from 1 through 40 {
    .w-#{$i}-em {
        min-width: calc($i * 1em);
    }

    .h-#{$i}-em {
        min-height: calc($i * 1em);
    }

    .fs-#{calc($i * 2)} {
        font-size: calc($i * 2pt);
    }
}

.fit-width {
    width: fit-content;
}

.d-contents {
    display: contents;
}

.d-none {
    display: none;
}

