@page "/shared-resources"
<PageTitle>Shared Resources</PageTitle>

<section class="py-5">
    <div class="container">
        <h1 class="mb-4 text-center">Shared Resources</h1>
        <p class="text-center mb-5">
            A collection of tutorials, tools, and community links hand-picked by members of the Eugene .NET meetup.
            Whether you're just starting out or looking to go deeper, this is a good place to begin.
        </p>

        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">🧭 Getting Started with .NET</h5>
                        <ul class="list-unstyled">
                            <li><a href="https://dotnet.microsoft.com/en-us/learn" target="_blank">.NET Learn (Microsoft)</a></li>
                            <li><a href="https://learn.microsoft.com/en-us/aspnet/core/" target="_blank">ASP.NET Core Docs</a></li>
                           
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">🛠 Developer Tools</h5>
                        <ul class="list-unstyled">
                            <li><a href="https://code.visualstudio.com/" target="_blank">VS Code</a></li>
                            <li><a href="https://github.com/" target="_blank">GitHub</a></li>
                            <li><a href="https://www.postman.com/" target="_blank">Postman</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">🌲 Local & Community</h5>
                        <ul class="list-unstyled">
                            <li><a href="https://eugtech.org" target="_blank">Eugene Tech</a></li>
                            <li><a href="https://www.meetup.com/eugdotnet/">EugDotNet Meetups</a></li>
                            <li><a href="https://discord.gg/fw5YfbTYgC" target="_blank">Our Discord Server</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">🌐 Open Source & Learning Projects</h5>
                        <ul class="list-unstyled">
                            <li><a href="https://github.com/quozd/awesome-dotnet" target="_blank">Awesome .NET</a></li>
                            <li><a href="https://github.com/blazorhero/CleanArchitecture" target="_blank">BlazorHero</a></li>
                            <li><a href="https://github.com/oqtane/oqtane.framework" target="_blank">Oqtane Framework</a></li>
                            <li><a href="https://github.com/dodyg/practical-aspnetcore" target="_blank">Practical ASP.NET Core</a></li>
                            <li><a href="https://github.com/dotnet/samples" target="_blank">.NET Samples (Microsoft)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
