
@for $i from 0 through 100 {
    .left-#{$i} {
        left: calc($i * 1%);
    }

    .right-#{$i} {
        right: calc($i * 1%);
    }

    .top-#{$i} {
        top: calc($i * 1%);
    }

    .bottom-#{$i} {
        bottom: calc($i * 1%);
    }

    .left-#{$i}-vw {
        left: calc($i * 1vw);
    }

    .right-#{$i}-vw {
        right: calc($i * 1vw);
    }

    .top-#{$i}-vh {
        top: calc($i * 1vh);
    }

    .bottom-#{$i}-vh {
        bottom: calc($i * 1vh);
    }

    .w-#{$i} {
        width: calc($i * 1%)
    }

    .h-#{$i} {
        height: calc($i * 1%)
    }
}

@for $i from 1 through 40 {
    .w-#{$i}-em {
        width: calc($i * 1em)
    }

    .h-#{$i}-em {
        height: calc($i * 1%)
    }

    .fs-#{calc($i * 2)} {
        font-size: calc($i * 2pt);
    }
}

.fit-width {
    width: fit-content;
}

.d-content {
    display: comntent;
}

.d-none {
    display: none;
}

