<div class="spinner-border @Class" style="width: 2rem; height: 2rem;" role="status">
    <h1 class="visually-hidden">Loading...</h1>
</div>

@code {
    [Parameter]
    public string Class { get; set; }


}
